@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Montserrat:wght@300;400&display=swap");
body {
  padding: 50px;
}

h1 {
  font: 40px "Agbalumo", Helvetica, Arial, sans-serif;
}

p {
  font: 14px "Montserrat", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
